@charset "UTF-8";

#Tituloum{
    color: green;
}

.subtituloUm{
    color: orange;
}
#Titulodois{
    color: aqua;
}
#Titulodois{
    color: blue;
}
.subtitulodois{
    color: aqua;
}
.um{
    color: rgb(97, 209, 102);
}
.dois{
    color: red;
}