@charset "UTF_8";

#flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 478);
    height: 500px;
    border-radius: 50%;
}

#flex-container > div{
    width: 60px;
    height: 60px;
    background-color: rgb(139, 16, 16);
    margin: 5px;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 50%;

}