@charset "UTF-8";

#static{
    border: 1px solid black;
    height: 20px;
    left: 50px;
}
#relative{
    border:  1px solid black;
    height: 20px;
    position: relative;
    left: 50px;
    top: 10px;
}
#fixed{
    border: 1px solid black;
    background-color: red;
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
}
#Pai{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url("../imagem/artificial-intelligence-gfd715a663_1920.jpg");
    background-size: cover;
}
#filho{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: relative;
    left: 150px;
    top: 150px;
    display: none;
}
#pai:hover > #filho{
    display: block;
}
