@charset "UTF_8";


h1{
    border: 3px solid black;
    padding: 20px 5px;
    text-transform: uppercase ;
    text-transform: uppercase; 
    
}
a{
    
    background-color:  dodgerblue;
    color: black;
    border-radius: 5px 1px;
    text-decoration: none;
    padding: 10px;
    text-transform: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:auto;
    margin-right: 10px;
    box-shadow: 5px 3px 3px;
}
a:hover{
    background-color: whitesmoke;
    color: dodgerblue;
}
#menu_nav{
    text-align: center;
}
P > span{
    display: none;
}
p:hover > span{
    display: inline-block;
    background-color: yellow;
}