@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: Ds-DIGIT;
    src: url(../fontes/DS-DIGI.TTF);
}
h1{

    /*color: #D97904;*/ /* Cor em hexadecimal */
    /*color: rgb( 217 121 4); /*Cor em RGB*/
    /*color: rgba( 217 121 4 85);*/

    background-image: radial-gradient(circle, red yellow green);  
}
:root{
    --cor1: Black;
    --cor2: Black;
    --cor3: Black;
}
h1{
    color: var(--cor3);
    font-family: 'Lobster', cursive;
    font-family: Ds-DIGIT;

}